.container_commonContact {
    //background-color: #fcdede;
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .img_commonConact {
        height: 200px;
        width: auto;
    }
}