.container_card_Service{
    .container_img{
        width: 400px;
        height: 650px;
        position: relative;
        cursor: pointer;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
        .Text_Service{
            background-color: black;
            text-align: center;
            color: white;
            font-size: 20px;
            padding: 10px 0 10px 0;
            text-transform: uppercase;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,;
        }
    }
}