.album {
  &-detail {
    padding: 60px 0;
    &-img {
      width: 100%;
      height: auto;
    }
    .elementor-container {
      padding: 60px 0;
    }
  }
}

.image-container {
  position: relative;
  display: inline-block;
  &-inner {
    border-radius: 6px;
  }
  &-inner:hover {
    box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.45),
      0 50px 90px 0 rgba(51, 51, 51, 0.15);
  }
}

.hovered {
  z-index: 1;
}
