.container{
    align-items: center;
}
.container {
    .HeadTitle{
        font-family:serif;
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 25px;
    }
}
.container ul {
    list-style: none;
}
.container ul a{
    color: black;
    text-decoration: none;
}
.container ul a:hover{
    color: rgb(255, 193, 252)
}
.container li {
    margin-bottom: 10px;
}
.footerIcon{
    color: rgb(255, 167, 95);
}
.col-sm-11{
    padding: 3px 20px;
}
.ImageFooter
{
    width: 100px;
    height: auto;
}