.header {
  padding: 10px 0px 0px 0px;
  &-top {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    &-logo {
      width: 63%;
      padding-left: 100px;
    }
    &-info {
      display: flex;
      align-items: center;
      text-align: left;
      flex-direction: row;

      &-item {
        svg {
          fill: #fcdede;
          color: #fcdede;
          border-color: #fcdede;
          font-size: 30px;
        }
        &-content {
          margin-left: 10px;
          margin-right: 40px;
          .title {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            color: #000000;
          }
          .description {
            font-size: 14px;
            font-weight: 300;
            margin-top: 14px;
          }
        }
      }
    }
  }
  &-bottom {
    margin-top: 12px;
    &-menu {
      flex-grow: 1;
      background-color: #000000;
      &-ul {
        display: flex;
      }
      &-item {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &-link {
          color: #ffffff;
          text-transform: uppercase;
          padding: 16px 20px;
          font-size: 14px;
          font-weight: 400;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover::after,
          &.active::after {
            background-color: #ffffff;
          }
          & ~ .menu-child {
            position: absolute;
            left: 0;
            top: 50px;
            background: #fff;
            box-shadow: 0px 0px 4px 0px #cccccc;
            min-width: 254px;
            max-width: 1000px;
            background-color: #fff;
            font-size: 13px;
            display: none;
            z-index: 9999;
            li:not(:last-child) {
              border-bottom: 1px solid #fcdede;
            }
            .link-child {
              display: flex;
              padding: 14px 0 14px 15px;
              font-size: 100%;
              &:hover {
                background-color: #fcdede;
              }
            }
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 6px;
          left: 0;
          bottom: -6px;
        }
        &:hover > .menu-child {
          display: block;
        }
      }
    }
    &-quote {
      background-color: #fcdede;
      display: flex;
      justify-content: center;
      padding: 16px 70px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

/*Mobile resolution */
@media only screen and (max-width: 767px) {
  .header-top-info,
  .header-bottom {
    display: none !important;
  }
}

/* Tablet resolution */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-top-info,
  .header-bottom {
    display: none !important;
  }
}

/* > PC low resolution */
@media (min-width: 1025px) {
}
