@keyframes moveImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container_imgRun {
    position: relative;
}

.container_imgRun .imgRun {
    max-width: 100%;
    height: auto;
    animation-name: moveImg;
    animation-duration: 3s;
}